@import '~include-media/dist/_include-media.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Audiowide:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Glegoo:300,400,500,italic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:regular,semibold,italic&subset=latin,latin-ext');

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$breakpoints: (phone: 768px, laptop: 1024px, desktop: 1378px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  // width: 100%;
  // height: 100%;
  // margin: 0;
  // padding: 0;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // overflow: hidden;
}

// html,
// body {
//   overflow-x: hidden;
//   overflow-y: scroll;
// }

html,
body {
  width: 100%;
  // height: 100%;
  font-family: 'Lora', serif;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
  font-size: 16px;
}

a {
  // font-family: 'Source Sans Pro', sans-serif;
  color: #db4226;
  text-decoration: none;

  &:hover {
    color: #f53514;
    text-decoration: underline;
  }
  &:active {
    color: #9c230e;
    text-decoration: underline;
  }
}

.delayed-content {
  overflow: hidden;
  max-height: auto;
  transition: max-height 1.5s ease-in-out;

  &.locked {
    max-height: 0;
  }
}


body {
  // overflow-y: scroll;
}

.main-canvas {
  // width: 100%;
  // height: 100%;
  // /* height: 400px; */
  // position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // display: none;
  pointer-events: none;
}

.content {
  //
}

.html-render-container {
  position: absolute;
  width: fit-content;
  left: 200vw;
  // left: 0;
  // top: 0;
  z-index: 100;
}

.swarm-target,
.hidden {
  // visibility: hidden;
}

.swarm-target {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  // flex: content;
  // width: fit-content;
  // height: fit-content;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @include media("<=phone") {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include media(">phone", "<=desktop") {
    width: 960px;
  }
  @include media(">desktop") {
    width: 1200px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 25vh;
}

.welcome {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  font-family: 'Glegoo';

  .welcome-line {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;

    &.hidden {
      visibility: visible;
      opacity: 0;
    }
  }
}

// .logo {
//   width: 200px;
//   height: 200px;
//   // margin-bottom: 1rem;
// }

.project-group-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #ddd;
  font-size: 7rem;
  text-transform: uppercase;
  letter-spacing: 1.0rem;
  word-break: break-all;

  @include media("<=phone") {
    // letter-spacing: 0;
    // font-size: 5rem;
  }
}

.project {
  margin-bottom: 7rem;
}

.project-name {
  // display: inline-block;
  width: fit-content;
  font-family: 'Abel', sans-serif;
  font-size: 3.5rem;
  // font-weight: 400;
  margin-bottom: 2rem;
  // text-decoration: underline;
  border-bottom: solid 0.2rem #000;

  // &.excog {
  //   font-family: 'Abel', sans-serif;
  // }
  // &.eso {
  //   font-family: 'Source Sans Pro', sans-serif;
  // }
}

.project-desc {
  font-family: 'Glegoo', sans-serif;
  font-size: 1.5rem;
  // font-weight: 300;
}

.project-tech {
  color: #888;
  margin-top: .5rem;
  font-size: 1.5rem;

  .tech-list {
    font-style: italic;

    .item {
      display: inline-block;
      margin-right: 1rem;
      white-space: nowrap;
      // line-height: 1.5;
    }
  }
}

.project-links {
  font-size: 1.2rem;
  margin-top: 1rem;

  a {
    margin-right: 1rem;
  }
}

#project-symbol-l2mapper {
  & > div {
    @include media("<=phone") {
      width: 350px !important;
      height: 265px !important;
    }
  }
}

.footer {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;

  a {
    color: #ccc;

    &:hover {
      color: #ddd;
    }

    .fa {
      font-size: 3rem;
    }
  }
}
